# --- data collection ---
yfinance
openmeteo-requests
httpx

# --- data engineering ---
pandas
numpy
matplotlib
seaborn
pyarrow
scipy

# --- utilities ---
pyyaml
python-dotenv
joblib
tqdm

# --- Jupyter ---
jupyter
jupyterlab
nbconvert
ipywidgets