# --- data collection ---
yfinance
openmeteo-requests
httpx

# --- data engineering ---
pandas
numpy
matplotlib
seaborn
pyarrow
scipy

# --- utilities ---
pyyaml
python-dotenv
joblib
tqdm
statsmodels

# --- Jupyter ---
jupyter
jupyterlab
nbconvert
ipywidgets

# --- MLflow ---
mlflow

# --- model ---
xgboost
scikit-learn
torch
prophet
optuna